[Service]
Type = simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/jaime/.Xauthority"
WorkingDirectory=/home/jaime/Development/KrystaliumCrystalograph
ExecStart = /home/jaime/Development/KrystaliumCrystalograph/venv/bin/python3  game.py
Restart = always
RestartSec = 5
KillMode = process
SendSIGHUP = no
User=jaime

[Install]
WantedBy= graphical.target

